body {
  font-family: 'Roboto';
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.App {
  background-color: #131313;
}

/*-------------------------*/

.navbar-nav {
  height: 5vh;
  background-color: black;
}

  .navbar-navlink {
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
    color: white;
    transition: 250ms;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar-navlink:last-child {
    color: rgb(65, 62, 62);
    margin-left: auto;
  }

  .navbar-navlink:hover, .navbar-navlink:active {
    color: rgb(163, 161, 161);
  }

  .navbar-icon {
    color: white;
  }

.section-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-transition {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/*-------------------------*/

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/*-------------------------*/

.about-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

} 

  .about-container {
    margin-left: 30rem;
    margin-right: 30rem;
    color: white;
  }

 

/*-------------------------*/

.projects-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .projects-container-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

    .project-grid-container {
      display: flex;
      justify-content: center;
    }

      .project-row-container {
        display: flex;
        justify-content: center;
      }

        .project-card-container {
          color: black;
          background-color: black;
          width: 200px;
          height: 300px;
        }

/*-------------------------*/

.contacts-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .contacts-list-item {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 25px;
    text-decoration: none;
  }

  .contacts-item-link {
    color: white;
    text-decoration: none;
  }

  .contacts-list-item:link {
    text-decoration: none;
  }

  .contacts-list-item:visited {
    text-decoration: none;
  }

/*-------------------------*/

.message-page {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/*-------------------------*/

.footer-section {
  height: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
}
  .footer-text {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

/*-------------------------*/
