body {
  font-family: 'Roboto';
}

.App {
  background-color: white;
}

/*-------------------------*/

.default-navbar-nav {
  height: 5vh;
  background-color: black;
}

  .default-navbar-navlink {
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
    color: white;
    transition: 250ms;
    text-decoration: none;
    cursor: pointer;
  }

  .default-navbar-navlink:hover, .default-navbar-navlink:active {
    color: rgb(163, 161, 161);
  }

  .navbar-icon {
    color: white;
  }

/*-------------------------*/

.landing-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("C:\Users\iseto\Desktop\vscode\JavaScript\portfolio\src\images\landingBackground.jpg");
}

/*-------------------------*/

.about-section {
  height: 100vh;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
}

/*-------------------------*/

.projects-section {
  height: 100vh;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

    .project-grid-container {
      display: flex;
      justify-content: center;
    }

      .project-row-container {
        display: flex;
        justify-content: center;
      }

        .project-card-container {
          width: 200px;
          height: 300px;
          background-image: url("C:\Users\iseto\Desktop\vscode\JavaScript\portfolio\src\images\javascript-resized.jpg");
        }

/*-------------------------*/

.contacts-section {
  height: 100vh;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
}

/*-------------------------*/

.footer-section {
  height: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
}
  .footer-text {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

/*-------------------------*/

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
